/* Import fonts */
@font-face {
  font-family: "Bluu Next";
  src: url('/assets/bluunext.woff2') format('woff');
}

@font-face {
  font-family: "Bluu Next";
  src: url('/assets/bluunext.woff') format('woff');
}

/* ----- Reset ----- */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ----- ----- ----- */

body {
  background-color: #333;
  font-family: "Bluu Next", sans-serif;
  color: #eee;
  font-size: 24px;
  line-height: 1.25;
  background-color: #cfffaf;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  color: #111;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  text-indent: -0.4em;
  margin-bottom: 1em;
}

h1.long {
  font-size: 2.5rem;
}

h1, p {
  width: 460px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  padding: 2rem;
}
